<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 

<div class="loading">
	<div class="loadpart" *ngIf="!anotherPlayer">
		<span *ngIf="language=='english'"> WAITING FOR ANOTHER PLAYER <span *ngIf="dot>0">.</span><span *ngIf="dot>1">.</span><span *ngIf="dot>2">.</span></span>
		<span *ngIf="language=='french'"> EN ATTENTE D'UN AUTRE JOUEUR <span *ngIf="dot>0">.</span><span *ngIf="dot>1">.</span><span *ngIf="dot>2">.</span></span>
	</div>
    <div class="loading" *ngIf="anotherPlayer">
		<span style="color: #05BDFF" *ngIf="language=='english'"> ANOTHER PLAYER HAS BEEN FOUND. <br>THE GAME WILL START IN {{waitingTime || 0}}S! </span>
		<span style="color: #05BDFF" *ngIf="language=='french'"> UN AUTRE JOUEUR A ETE TROUVE. <br>LE JEU COMMENCERA DANS  {{waitingTime || 0}}S! </span>
		<div class="mainButton" *ngIf="!isReady && language=='english'" (click)="ready()">Click this button to play within {{waitingTime}}S.</div>
		<div class="mainButton" *ngIf="!isReady && language=='french'" (click)="ready()">Clickez sur ce boutton pour jouer dans {{waitingTime}}S.</div>
		<div class="loapart" *ngIf="isReady && language=='english'">You are ready!</div>
		<div class="loapart" *ngIf="isReady && language=='french'">Vous êtes prêt!</div>
		<!-- <span *ngIf="language=='english'"> The game is ready! </span>
		<span *ngIf="language=='french'"> Le jeu est prêt ! </span> -->
	</div>
	<!-- <div class="loadpart" *ngIf="lostGame">
		<span *ngIf="language=='english'"> TOO LATE, SORRY! </span>
		<span *ngIf="language=='french'"> TROP TARD, désolé ! </span>
	</div> -->
	<!-- <span class="advice"> Press F11 for a better experience </span> -->
	<span class="advice" *ngIf="language=='english'"> Please do not refresh web pages from now! </span>
	<span class="advice" *ngIf="language=='french'"> S'il vous plaît ne rafraîchissez pas les pages webs à partir de maintenant. </span>
    <span class="advice" *ngIf="language=='english'"> Enter your pseudo if you want to display it on the score page: <input type="text" maxlength="10" [(ngModel)]="pseudo" /> </span>
    <span class="advice" *ngIf="language=='french'"> Ecrivez votre pseudo si vous souhaitez le voir apparaître dans la page de scores: <input type="text" maxlength="10" [(ngModel)]="pseudo" /> </span>
	<div class="reminders">
		<div class="watermanagementLoading">
			<div *ngIf="language=='english'"> <i class="fa fa-tint" aria-hidden="true"></i> Ground tank water management: </div>
			<div *ngIf="language=='french'"> <i class="fa fa-tint" aria-hidden="true"></i> Gestion de l'eau du réservoir principal: </div>
			<div class="explainkeys">
				<div class="mainbuttonL">
					<i class="fa fa-undo" aria-hidden="true"></i>
					<div class="wheelsmall"> </div>
				</div>
				<div *ngIf="language=='english'"> or </div>
				<div *ngIf="language=='french'"> ou </div>
				<div class="anykey">
					<div style="color: black"> s </div>					
				</div>
				<div *ngIf="language=='english'" class="result"> increase wheel's speed <br /> to the left</div>
				<div *ngIf="language=='french'" class="result"> augmente la vitesse de la roue <br /> vers la gauche</div>
			</div>
			<div class="explainkeys">	
				<div class="mainbuttonR"> 
					<i class="fa fa-undo" aria-hidden="true"></i>
					<div class="wheelsmall"> </div>
				</div>
				<div *ngIf="language=='english'"> or </div>
				<div *ngIf="language=='french'"> ou </div>
				<div class="anykey">
					<div style="color: black"> d </div>					
				</div>
				<div *ngIf="language=='english'" class="result"> increase wheel's speed <br /> to the right </div>
				<div *ngIf="language=='french'" class="result"> augmente la vitesse de la roue <br /> vers la droite </div>
			</div>
			<div class="explainkeys">
				<div class="pushButton">
					<div class="buttonTap">
					</div>
				</div>
				<div *ngIf="language=='english'"> or </div>
				<div *ngIf="language=='french'"> ou </div>
				<div class="anykey">
					<div style="color: black"> e </div>					
				</div>
				<div *ngIf="language=='english'" class="result"> tap opens few seconds </div>
				<div *ngIf="language=='french'" class="result"> le robinet s'ouvre quelques secondes </div>
			</div>
			<div class="explainkeys">
				<div class="wrenchButton">
					<i class="fa fa-wrench" aria-hidden="true"></i>
				</div>
				<div *ngIf="language=='english'"> or </div>
				<div *ngIf="language=='french'"> ou </div>
				<div class="anykey">
					<div style="color: black"> a </div>					
				</div>
				<div *ngIf="language=='english'" class="result"> allows to fix leaks </div>
				<div *ngIf="language=='french'" class="result"> permet de réparer les fuites </div>
			</div>				
		</div>
		<div class="robotControlLoading">
			<div *ngIf="language=='english'"> <i class="fa fa-gamepad" aria-hidden="true"></i> Control of the robot: </div>
			<div *ngIf="language=='french'"> <i class="fa fa-gamepad" aria-hidden="true"></i> Contrôle du robot : </div>
			<div class="explainkeys">
				<div class="spaceKey">
					<div *ngIf="language=='english'" style="color: black"> SPACE </div>
					<div *ngIf="language=='french'" style="color: black"> ESPACE </div>					
				</div>
				<div class="littlesplatch">
				</div>
			</div>
			<div class="explainkeys">
				<div class="centeranykey">
					<div class="anykey">
						<div style="color: black"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </div>					
					</div>
				</div>
				<div class="arrowFor">
				</div>
			</div>
			<div class="explainkeys">
				<div class="centeranykey">
					<div class="anykey">
						<div style="color: black"> <i class="fa fa-arrow-down" aria-hidden="true"></i> </div>					
					</div>
				</div>
				<div class="arrowBack">
				</div>
			</div>
			<div class="explainkeys">
				<div class="centeranykey">
					<div class="anykey">
						<div style="color: black"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </div>					
					</div>
				</div>
				<div class="arrowLeft">
				</div>
			</div>
			<div class="explainkeys">
				<div class="centeranykey">
					<div class="anykey">
						<div style="color: black"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </div>					
					</div>
				</div>
				<div class="arrowRight">
				</div>
			</div>
			<!--<div *ngIf="emptySlot">
				Slot libre
				<button ng-click="play()">Jouer</button>
			</div>-->
		</div>
		<div class="cooperationBlock">
				<div class="coopActionsPlain" style="background-color: #05BDFF;height: 40%;">
				<div class="exchangeRessources">
					<div class="buttonletterChar">
						<div class="exchangeButton" >
							<div class="sendWater" >
							</div>
						</div>
						<div class="char"> r </div>
					</div>
					<div class="buttonletterChar">
						<div class="exchangeButton" >
							<div class="sendElec">
							</div>
						</div>
						<div class="char"> f </div>
					</div>
				</div>
				<div class="exchangeRessources">
					<div class="buttonletterChar">
						<div class="exchangeButton" >
							<div class="receiveWater">
							</div>
						</div>
						<div class="char"> t </div>
						</div>
				<div class="buttonletterChar">
					<div class="exchangeButton" >
						<div class="receiveElec">
						</div>
					</div>
					<div class="char"> g </div>
				</div>
			</div>
				</div>
		<div class="comms" style="height: 40%;">
			<button class="commButton1" *ngIf="language=='english'">
				Please refill water tank
				<div class="char"> w </div>
			</button>
			<button class="commButton1" *ngIf="language=='french'">
				Remplis le réservoir
				<div class="char"> w </div>
			</button>
			<button class="commButton1" *ngIf="language=='english'">
				I'm going to refuel
				<div class="char"> x </div>
			</button>
			<button class="commButton1" *ngIf="language=='french'">
				Je vais recharger
				<div class="char"> x </div>
			</button>
			<button class="commButton2" *ngIf="language=='english'">
				Need water
				<div class="char"> c </div>
			</button>
			<button class="commButton2" *ngIf="language=='french'">
				J'ai besoin d'eau
				<div class="char"> c </div>
			</button>
			<button class="commButton2" *ngIf="language=='english'">
				Need electricity
				<div class="char"> v </div>
			</button>
			<button class="commButton2" *ngIf="language=='french'">
				J'ai besoin de batterie
				<div class="char"> v </div>
			</button>
			<button class="commButton3" >
				Ok
				<div class="char"> b </div>
			</button>
			<button class="commButton3" *ngIf="language=='english'">
				No
				<div class="char"> n </div>
			</button>
			<button class="commButton3" *ngIf="language=='french'">
				Non
				<div class="char"> n </div>
			</button>
		</div>
			</div>
	</div>
	<!-- <div ui-sref="welcome" class="gohomeTrain" *ngIf="lostGame && language=='english'" ng-click="reload()"> <i class="fa fa-reply" aria-hidden="true"></i> back to main menu </div>
	<div ui-sref="welcome" class="gohomeTrain" *ngIf="lostGame && language=='french'" ng-click="reload()"> <i class="fa fa-reply" aria-hidden="true"></i> retour au menu principal </div> -->
</div>