<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<div class="scoresScreen">
	<div class="scoresTitle" *ngIf="language=='english'">
		<i class="fa fa-trophy" aria-hidden="true"></i> Best scores: 
	</div>
	<div class="scoresTitle" *ngIf="language=='french'">
		<i class="fa fa-trophy" aria-hidden="true"></i> Meilleurs scores: 
	</div>
	<div class="scoresPages">
		<div class="bestScores" *ngFor="let value of pagesArray; let pageKey = index" [ngClass]="{divleft: divLeft[pageKey], divright: divRight[pageKey]}">
			<div class="scoresValues">
				<span> TOTAL </span>
				<div *ngFor="let score of pagesArray[pageKey]">
					{{score.score}}
				</div>
			</div>
			<div class="scoresNames">
				<span *ngIf="language=='english'"> FIRST PLAYER </span>
				<span *ngIf="language=='french'"> JOUEUR 1 </span>
				<div *ngFor="let score of pagesArray[pageKey]; let k = index">
					<i class="fa fa-fire-extinguisher" aria-hidden="true"></i> {{score.pseudo1}}
				</div>
			</div>
			<div class="scoresValues">
				<span> SCORE 1 </span>
				<div *ngFor="let score of pagesArray[pageKey]">
					{{score.score1}}
				</div>
			</div>
			<div class="scoresNames">
				<span *ngIf="language=='english'"> SECOND PLAYER </span>
				<span *ngIf="language=='french'"> JOUEUR 2 </span>
				<div *ngFor="let score of pagesArray[pageKey]; let k = index">
					<i class="fa fa-fire-extinguisher" aria-hidden="true"></i> {{score.pseudo2}}
				</div>
			</div>
			<div class="scoresValues">
				<span> SCORE 2 </span>
				<div *ngFor="let score of pagesArray[pageKey]">
					{{score.score2}}
				</div>
			</div>


			<div class="scoresDates">
				<span> DATE </span>
				<div *ngFor="let score of pagesArray[pageKey]">
					{{score.date}}
				</div>
			</div>
		</div>
	</div>
	<div class="controlBand">
		<div [routerLink]="['/welcome']" class="scoresGohome" *ngIf="language=='english'"> <i class="fa fa-reply" aria-hidden="true"></i> back to main menu 
		</div> 
		<div [routerLink]="['/welcome']" class="scoresGohome" *ngIf="language=='french'"> <i class="fa fa-reply" aria-hidden="true"></i> retour au menu principal
		</div> 
		<div class="nextprev">
			<div class="scoresGohome"> 
				<div [hidden]="firstPage" (click)="previousPage()" *ngIf="language=='english'"> 
					<i class="fa fa-chevron-left" aria-hidden="true"></i> previous page 
				</div> 
				<div [hidden]="firstPage" (click)="previousPage()" *ngIf="language=='french'"> 
					<i class="fa fa-chevron-left" aria-hidden="true"></i> page précédente
				</div> 
			</div>
			<div class="scoresGohome" > 
				<div [hidden]="lastPage" (click)="nextPage()" *ngIf="language=='english'"> 				
					<i class="fa fa-chevron-right" aria-hidden="true"></i> next page
				</div>
				<div [hidden]="lastPage" (click)="nextPage()" *ngIf="language=='french'"> 				
					<i class="fa fa-chevron-right" aria-hidden="true"></i> page suivante
				</div>
			</div>
			<div class="scorespage" > 
				page {{pageNumber}}
			</div>	
		</div>
	</div>
</div>