<div class="screen" [ngClass]="{screenWrench: wrenchMode}" >
	<div [ngClass]="{overlayOpen: overlayOpen}" class="overlay">
		<div class="gameover" *ngIf="gameOverCause==3 || gameOverCause==4"> GAME OVER! </div>
        <div class="gameover" *ngIf="gameOverCause==1"> THE END </div>
		<div class="textthx" *ngIf="gameOverCause==1"> Mission completed, CONGRATULATION! </div>
		<div class="gameover" *ngIf="gameOverCause==2"> THE OTHER PLAYER DISCONNECTED </div>
		<div class="whyover" *ngIf="gameOverCause==3"> 
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
			<div class="textcause"> Batteries empty </div> 
			<i class="fa fa-battery-empty" aria-hidden="true"></i> 
		</div>
		<div class="whyover" *ngIf="gameOverCause==4"> 
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
			<div class="textcause"> One player overheated </div> 
			<i class="fa fa-thermometer-full" aria-hidden="true"></i> 
		</div>
		<div class="numextfires"> 
			<div class="fireicon"> </div> 
			<i class="fa fa-users" aria-hidden="true"></i> 
			<span>The team extinguished {{nbFighted}} fires </span> 	
		</div>
		<div class="numextfires"> 
			<div class="fireicon"> </div> 
			<i class="fa fa-user" aria-hidden="true"></i> 
			<span>You personnaly extinguished {{personnalScore}} fires </span> 	
		</div>
		<div class="newbestscore" *ngIf="newBestScore"> 
			<span> NEW BEST SCORE! Good job </span> <span style="color: #05BDFF">{{pseudo1}} & {{pseudo2}}</span> <span>!</span>
		</div>
		<div [routerLink]="['/welcome']" class="gohome"> 
			<i class="fa fa-reply" aria-hidden="true"></i> 
			<span> back to main menu </span> 
		</div>
	</div> 


	<div [ngClass]="{overlayOpen: alarmOverlayOpen && !overlayOpen}" class="alarmOverlay">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
		<span class="textAlarm" *ngIf="alarmId==1"> Low water (less than 2 shots)!! </span>
		<span class="textAlarm" *ngIf="alarmId==2"> Your battery is low!! </span>
		<span class="textAlarm" *ngIf="alarmId==3"> The other player has no battery anymore!! </span>
		<span class="textAlarm" *ngIf="alarmId==4"> Your temperature is high!! </span>
		<span class="textAlarm" *ngIf="alarmId==5"> Only 30s left!! </span>
		<div class="alarmButton" (click)="removeAlarm()"> I got it </div>	
	</div> 

	<div class="leftPart">  
		<div class="missionBlock">
			<div class="maincontainermission">
				<div class="iconCircle">
					<i class="fa fa-trophy" aria-hidden="true"></i>
				</div>
				<div class="gametitle">
					Firefighter Human-Robot Team <div class="fireicon"> </div>
				</div>
				<div class="infonoff">	
					<div class="missioninfo">
						<div class="numbersinfo"> 
							<i class="fa fa-users" aria-hidden="true"></i>
							{{nbFighted}} 
						</div> 
						<div class="numbersinfo"> 
							<i class="fa fa-user" aria-hidden="true"></i>
							{{personnalScore}} 
						</div> 
						<div  class="numbersinfo"> <i class="fa fa-clock-o" aria-hidden="true"></i>   {{remainingTime}} </div>
					</div>
					<div class="onoff">						
						<i (click)="killAll()" class="fa fa-power-off" aria-hidden="true"></i>	
					</div>
				</div>
			</div>
		</div>
		<div class="waterBlock"> 
			<div class="maincontainer">
				<div class="iconCircle">
					<i class="fa fa-tint" aria-hidden="true"></i>
				</div>
	                        <div class="robinetcontainer">
					<div class="robinet" [ngStyle]="{left: xRobinet+2+'%', bottom: yRobinet/1.8 + 42 +'%'}"> 
					</div>
					<div class="wheel" *ngIf="direction!=0" [ngClass]="{wheelinverse: direction<0}"  [ngStyle]="{left: xRobinet+7.9+'%', bottom: yRobinet/1.8+58+'%', 'animation-duration': animTime + 's'}"> 
					</div>
					<div class="wheel" *ngIf="direction==0" [ngStyle]="{left: xRobinet+7.9+'%', bottom: yRobinet/1.8+58+'%'}"> 
					</div>
					<div class="string" [ngStyle]="{left: xRobinet+11.5+'%', bottom: yRobinet/1.8+52+'%'}"> 
					</div>
					<div class="robinetwaterContainer" [ngStyle]="{left: xRobinet + 4 -0.6+'%', bottom: yRobinet/1.8 + 37 +'%'}">
						<div class="robinetwater" [ngStyle]="{width: waterWidth + 'vw', 'background-size': waterWidth + 'vw 1vw'}">
						
						</div>
					</div>
					<div class="montainAxis"> 
					</div>
					<div class="neckcontainer">
					</div>
					<div class="tankcontainer">	
						<div class="tankcontainerwaterpart">
							<div class="tankcontainerwaterviz">
								<div class="graduations"> </div>
								<div class="tankcontainerwater" [ngStyle]="{height: waterLevelContainer + '%'}"> 
								</div>
							</div>
						</div>    
						<div class="tankcontainerleakspart">

							<div class="wrapLeaks">
								<div class="leakContainer" *ngFor="let value of leakPlaces; let key = index">
									<div class="leak" [ngClass]="{nonvisible: noLeakAt[key]}" [ngStyle]="{'transform': 'scale(' + leaksReverse[key] + ', 1)', 'left': leftValues[key] + '%'}"  (click)="clickLeak(key)">
									</div>
								</div>
							</div>

						</div>
						<div class="legsContainer">
							<div class="legs">
							</div>                           	
						</div>
					</div>

					<div class="wmbuttons">
						<div class="speed">  
							<div class="wheelsmall2"> </div>
							<div *ngIf="language=='english'"> speed: {{faucetControl}} </div>
							<div *ngIf="language=='french'"> vitesse: {{faucetControl}} </div>
						</div>
						<div class="buttonWheel">
							<div class="buttonChar">
								<div class="mainbuttonL" [ngClass]="{cursorPointer: !wrenchMode}" (click)="faucetCtrlFctMinus()"> 
									<div class="undo"> <i class="fa fa-undo" aria-hidden="true"></i></div>
									<div class="wheelsmall"> </div>
								</div>
								<div class="char"> s </div>
							</div>
							<div class="buttonletterChar">
								<div class="mainbuttonR" [ngClass]="{cursorPointer: !wrenchMode}" (click)="faucetCtrlFctPlus()"> 
									<div class="undo">  <i class="fa fa-undo" aria-hidden="true"></i> </div>
									<div class="wheelsmall"> </div>
								</div>
								<div class="char"> d </div>
							</div>
						</div>
						<div class="buttonletterChar">
							<div class="pushButton" [ngClass]="{cursorPointer: !wrenchMode}" (click)="waterPushButton()">
								<div class="buttonTap">
								</div>
							</div>
							<div class="char"> e </div>
						</div>
						<div class="buttonletterChar">
							<div class="wrenchButton" [ngClass]="{cursorPointer: !wrenchMode}" (click)="wrenchOnOff()">
								<i class="fa fa-wrench" aria-hidden="true"></i>
							</div>
							<div class="char"> a </div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div> 
	<div class="centerPart"> 
		<div class="videoBlock"> 
			<div class="maincontainercam">
				<div class="streamcamera">
					<div class="maincontainersec">
						<div class="mapblock">
								
							<div class="map">
								<!-- <i class="fa fa-circle-thin" [ngStyle]="{top: propFromTop - 10 + '%', left: propFromLeft -10 +  '%',  position: absolute, color:red}" aria-hidden="true"></i> -->
								<div class="pointcontainer" [ngStyle]="{top: propFromTop  -4 + '%', left: propFromLeft - 4  +  '%', transform: 'rotate('+ rotInRad +'rad)'}">
								<div class="point"></div></div>
								<div class="other" [ngStyle]="{top: otherPropFromTop -1.5 + '%', left: otherPropFromLeft -1.5  +  '%', transform: 'rotate('+ otherRotInRad +'rad)'}">
								</div>
								<div class = "treeContainer" *ngFor="let value of trees; let key = index" [ngStyle]="{top: value.y - 5 +'%', left: value.x -5 + '%'}">
								<div class="tree" >
								</div>
								</div>
								<div class="fireContainer" *ngFor="let value of fires; let key = index" [ngStyle]="{top: trees[key].y  - 5 +'%', left: trees[key].x - 5 +  '%', opacity: fires[key]}">
									<div class="fire">
									</div>
								</div> 
								 <div class="loadlocB" [ngStyle]="{top: zones.batteryZone.y +'%', left:  zones.batteryZone.x +'%'}">
									<i class="fa fa-bolt" aria-hidden="true"></i>					
								</div>
								<div class="loadlocW" [ngStyle]="{top: zones.waterZone.y + '%', left: zones.waterZone.x + '%'}"> 
									 <div>
										<i class="fa fa-tint" aria-hidden="true"></i>
									</div>						 
									<!-- <div class="waterlevelmap" [ngStyle]="{height: waterLevelContainerMap + 'px'}"> </div>-->
												
								 </div> 
								 <div class="splatchContainer">
										<div class="splatch" [ngClass]="{visiblesplatch: waterize}">
										</div>
								<div class="redhotContainer">
											<div class="redhot" [ngStyle]="{opacity: hotScreen}">
											</div>
									</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="infoBlock"> 
			<div class="maincontainer">
				<div class="iconCircle">
					<i class="fa fa-info" aria-hidden="true"></i>
				</div>
				<div class="iconscontents">
					<div class="linktoicon">
						<i class="fa fa-globe" aria-hidden="true"></i>
					</div>
					





				</div>
				<div class="iconscontents2">
					<div class="linktoicon">
						<div class="robothead">
						</div>
					</div>
					<div class="maincontainersec2">
						<div class="warningsblock">
							<div class="robtoppart">
								<div class="autonomy">
									<div class="brain" *ngIf="autonomous"> </div>
									<div class="keyboard" *ngIf="!autonomous"> </div>
									<span *ngIf="autonomous && language=='english'"> AUTONOMOUS </span>
									<span *ngIf="!autonomous && language=='english'"> MANUAL </span>
									<span *ngIf="autonomous && language=='french'"> AUTONOME </span>
									<span *ngIf="!autonomous && language=='french'"> MANUEL </span>  			
								</div>
								<div class="batTemp">
									<div class="connectbat">
										<div class="battery">
											<div class="batlev"  [ngStyle]="{width: batteryLevel+'%'}"> </div>											
										</div>
										<div class="batconnect">
										</div>
									</div>
									<div class="therm">
										<div class="temperature">
											<div class="cercle">
												<div class="bluecercle">
												</div>								
											</div>
											<div class="someRed">
											</div>
											<div class="thermometer">
												 <div class="mercure" [ngStyle]="{height: temperature + '%'}"> </div> 	 
												
											</div>								
										</div>	
									</div>

								</div>
								
							</div>
							<div class="robotwaterres">
								<div class="littlesplatchwhite">
								</div>
								<div class="waterlevelbar">
									<div class="waterlevelcont">
										 <div class="waterlevel" [ngStyle]="{width: watLevel +'%'}"> </div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Début de la partie coop de Benjamin -->

	<div class="rightPart">
		<div [ngClass]="{'coopActionsPlain' : inRange,
						'coopActions' : !inRange}" >
			<div class="exchangeRessources">
				<div class="buttonletterChar">
					<div class="exchangeButton" [ngClass]="{cursorPointer: !wrenchMode}" (mousedown)="sendKey('rDown')" (mouseup)="sendKey('rUp')">
						<div class="sendWater" >
						</div>
					</div>
					<div class="char"> r </div>
				</div>
				<div class="buttonletterChar">
					<div class="exchangeButton" [ngClass]="{cursorPointer: !wrenchMode}" (mousedown)="sendKey('fDown')" (mouseup)="sendKey('fUp')">
						<div class="sendElec">
						</div>
					</div>
					<div class="char"> f </div>
				</div>
			</div>
			<div class="exchangeRessources">
				<div class="buttonletterChar">
					<div class="exchangeButton" [ngClass]="{cursorPointer: !wrenchMode}" (mousedown)="sendKey('tDown')" (mouseup)="sendKey('tUp')">
						<div class="receiveWater">
						</div>
					</div>
					<div class="char"> t </div>
				</div>
				<div class="buttonletterChar">
					<div class="exchangeButton" [ngClass]="{cursorPointer: !wrenchMode}" (mousedown)="sendKey('gDown')" (mouseup)="sendKey('gUp')">
						<div class="receiveElec">
						</div>
					</div>
					<div class="char"> g </div>
				</div>
			</div>
		</div>
		<div class="comms">
			<button class="commButton1" (click)="sendKey('1')">
				Please refill water tank
				<div class="char"> w </div>
			</button>
			<button class="commButton1" (click)="sendKey('2')">
				I'm going to refuel
				<div class="char"> x </div>
			</button>
			<button class="commButton2" (click)="sendKey('3')">
				Need water
				<div class="char"> c </div>
			</button>
			<button class="commButton2" (click)="sendKey('4')">
				Need electricity
				<div class="char"> v </div>
			</button>
			<button class="commButton3" (click)="sendKey('5')">
				Ok
				<div class="char"> b </div>
			</button>
			<button class="commButton3" (click)="sendKey('6')">
				No
				<div class="char"> n </div>
			</button>
		</div>
		<div #chatbox class="chatbox" style="overflow-y:scroll;" [scrollTop]="chatbox.scrollHeight">
			<div *ngFor="let message of messages" 
				[ngClass]="{'textReceived': message.status =='textReceived',
							'textSent' : message.status == 'textSent',
							'textAlert' : message.status == 'textAlert'}">
				{{message.value}}
			</div>
		</div>
	</div>

</div>

